[submodule "foreign/eternal"]
	path = foreign/eternal
	url = https://github.com/mapbox/eternal
[submodule "foreign/googletest"]
	path = foreign/googletest
	url = https://github.com/google/googletest
[submodule "foreign/spdlog"]
	path = foreign/spdlog
	url = https://github.com/gabime/spdlog
