[submodule "foreign/eternal"]
	path = foreign/eternal
	url = https://github.com/mapbox/eternal
[submodule "foreign/googletest"]
	path = foreign/googletest
	url = https://github.com/google/googletest
[submodule "foreign/expected"]
	path = foreign/expected
	url = https://github.com/TartanLlama/expected
