name: C/C++ CI

on:
  push:
    branches:
      - "**"
    paths:
      - "src/**"
      - "tests/**"
      - "hccstd/**"
      - "cmake/**"
      - "CMakeLists.txt"
      - "*.hpp"
      - "xmake.lua"
  pull_request:
    branches:
      - "**"
    paths:
      - "src/**"
      - "tests/**"
      - "hccstd/**"
      - "cmake/**"
      - "CMakeLists.txt"
      - "*.hpp"
      - "xmake.lua"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: "true"

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libfmt-dev build-essential bison flex xmake

      - name: Build
        run: |
          xrepo install -y gtest
          xmake build
          mv $(find build/linux -name "hcc") ./hcc-x86_64

      - name: Test
        run: |
          xmake run hcctest

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: hcc-x86_64
          path: hcc-x86_64
