name: Build & Push GHCR HyperCPU Builder Image (prepare environment)

on:
  workflow_call:

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      fail-fast: false
      matrix:
        compiler: [ gcc, clang ]
        distribution: [ ubuntu, debian, arch ]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push clang image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: .github/docker/${{ matrix.compiler }}/Dockerfile-${{ matrix.distribution }}
          push: true
          tags: ghcr.io/hypercpu-project/hcc-builder-${{ matrix.compiler }}-${{ matrix.distribution }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
