name: HyperCPU CI/CD Pipeline (format)

on:
  workflow_call:

jobs:
  format:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/HyperWinX/hcc-builder-gcc-debian:latest
      options: --init
    permissions:
      contents: read
      packages: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: Fix permissions
        run: chown -R ci:ci "$GITHUB_WORKSPACE"

      - name: Run formatters
        run: |
          sudo -u ci conan profile detect
          sudo -u ci conan install . --build=missing
          sudo -u ci cmake --preset conan-release
          sudo -u ci cmake --build build/Release --target format

      - name: Check diff
        run: sudo -u ci git diff --quiet
